<h4>Ham and Goat Cheese Croissant</h4>
<img src="/img/ham-goat-cheese-croissant.jpg" alt="Ham and Goat Cheese Croissant">
<p>3.9</p>
<p>A savory slide of ham topped with wedge of goat cheese, all on a buttery, flaky croissant</p>

{{outlet}}