<ul class="items-container">
    <li class="menu-item">
        <h4>Ham and Goat Cheese Croissant</h4>
        <img src="/img/ham-goat-cheese-croissant.jpg" alt="Ham and Goat Cheese Croissant">
    </li>
    <li class="menu-item">
        <h4>Chicken Pomegranate Salad</h4>
        <img src="/img/chicken-pomegranate-salad.jpg" alt="Chicken Pomegranate Salad">
    </li>
    <li class="menu-item">
        <h4>Strawberry Pudding</h4>
        <img src="/img/strawberry-pudding.jpg" alt="Strawberry Pudding">
    </li>
</ul>

{{outlet}}